.footer {
    text-align: center;
    color: #eeeeee;
    font-size: 1rem;
    font-family: Helvetica;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-top: 10rem;
}

.link {
    color: #624CAB;
    transition: 0.3s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.link:hover {
    color: #A0DDFF;
}

.links {
    margin-top: 1%;
    text-align: center;
}

.links a {
    font-size: 2.5rem;
    color: #624CAB;
    transition: 0.3s;
    margin-right: 10px;
}

.links a:hover {
    color: #A0DDFF;
}
